@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Home";
}

<main>
    <div class="jumbotron">
        <h1 class="display-4">Restaurants Curitiba</h1>
        <p class="lead">@Model.Count() restaurants added.</p>
    </div>
</main>